@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --text-color-default: #f1f1f1;
    --background-color-default: #242424;

    color: var(--text-color-default);
    background-color: var(--background-color-default);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    color: var(--text-color-default);
    font: inherit;
    background: none;
    border: 1px var(--text-color-default) solid;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}

p {
    margin-bottom: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
}

#page-content h1 {
    margin-bottom: 0.7rem;
}

ul,
ol {
    list-style: none;
}

.content-halved {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 2300px;
    margin: auto;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    font-weight: bold !important;
}

.baseLayout {
    padding: 20px 40px;
    height: 100%;
    max-width: 2300px;
    margin: auto;
}

.content-halved>* {
    width: 50%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.hamburger {
    display: none;
    margin-left: 2rem;
}

.main-nav {
    display: flex;
    gap: 1.5rem;
    justify-content: right;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        padding: 0;
        border: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        position: relative;
        height: 1.6rem;
        width: 2rem;
        z-index: 50;
        gap: 0.5rem;
    }

    .hamburger-bar {
        background-color: var(--text-color-default);
        width: 100%;
        height: 100%;
    }

    .main-nav {
        display: none;
    }

    .main-nav.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background-color-default);
        padding: 1rem;
        padding-top: 4rem;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .content-halved {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .content-halved>* {
        width: 100%;
    }

    .baseLayout {
        padding: 20px 20px;
        height: 100%;
    }
}